.book .book-header {
  margin-right: 100px;
}

.book .book-header h1 {
  padding-left: 150px;
  padding-right: 150px;
}

a#forkmegithub img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

i.fa-github {
  display: none;
}

@media (max-width:800px) {
  .book .book-header {
    margin-right: 0px;
  }

  a#forkmegithub {
    display: none;
  }

  i.fa-github {
    display: inline-block;
  }
}

